<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->

</head>
<body>
<table>
    <tr th:each="item : ${page.content}">
        <td th:text="${item.id}">id</td>
        <td th:text="${item.name}">name</td>

    </tr>

</table>


<div>
    <a th:href="@{/student(start=0)}">[首页]</a>
    <a th:if="${not page.isFirst()}" th:href="@{/student(start=${page.number-1})}">[上页]</a>
    <a th:if="${not page.isLast()}" th:href="@{/student(start=${page.number+1})}">[下页]</a>
    <a th:href="@{/student(start=${page.totalPages-1})}">[末页]</a>
</div>

</body>
</html>