<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <link  href="/css/bootstrap.min14ed.css?v=3.3.6"  rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0"  rel="stylesheet">

    <link href="/css/animate.min.css"  rel="stylesheet">
    <link href="/css/style.min862f.css?v=4.1.0"   rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="container"> 

 
<form class="form-horizontal"   th:action="@{/admin/user/update}" method="post">
    <input type="hidden" name="_method" value="PUT"/>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label" >用户名</label>
        <div class="col-sm-10">
            <input type="text" id="name" name="name" th:field="${adminuser.name}"/>
        </div>
    </div>

    <input type="hidden" id="id" name="id" th:field="${adminuser.id}"/>



    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="提交" class="btn btn-info" />
            &nbsp; &nbsp; &nbsp;
            <input type="reset" value="重置" class="btn btn-info" />
        </div>

    </div>
</form>
</body>
</html>