<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->

</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

                <div  th:each="item : ${list}">
                    <li th:text="${item}">id</li>


        </div>
    </div>
</div>
</body>
</html>